body{
    background: linear-gradient(#056cd2, #f6f2f2);
    overflow: hidden;
}
.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 2px;
    text-align: center;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter h1{
    font-size: 2rem;
}

#count{
    font-size: 9rem;
}